DATABASE_URL=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=blog_db

COMPOSE_PROJECT_NAME=

SECRET_KEY=super-secret-dev
# em prod gerar segura

CLIENT_ID=
CLIENT_SECRET=

REDIRECT_URI=http://localhost:8000/auth/google/callback

FRONTEND_URL=http://localhost:5173

RESET_DB=false
HTTPS_ONLY=